* {
    font-family: bold;
}

body {
    background-color: rgb(75, 75, 75);
}

@font-face {
    font-family: normal;
    src: url(font/normal.ttf);

    font-family: bold;
    src: url(font/bold.ttf);
}

/* nav bar */

.nav {
    display: flex;
    justify-content: center;
}

.link {
    text-decoration: none;
}

.link h1 {
    margin: 0 auto;
    font-size: 150%;
    background: white;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    animation: hueshift 5s linear infinite;;
    text-shadow: 1px 1px 8px #ff0000;
    transition: transform .2s ease;
}

.link h1:hover {
    transform: scale(1.2);
}

/* end nav */

#info {
    transform: translateY(50%);
    position: relative;
    background: rgba(36, 36, 36, 0.4);
    border-radius: 10vh;
    min-height: 40vh;
    width: 60vh;
}

/* animations */

@keyframes scale {
    0% {
        transform: scale(1.0);
    }

    100% {
        transform: scale(1.5);
    }
}

@keyframes hueshift {
    0% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(360deg);
    }

    100% {
        filter: hue-rotate(0deg);
    }
}
