* {
    font-family: bold;
}

body {
    background-color: rgb(75, 75, 75);
    height: 90vh;
}

@font-face {
    font-family: normal;
    src: url(font/normal.ttf);

    font-family: bold;
    src: url(font/bold.ttf);
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    min-height: 100%;
    padding: 20px;
}

/* nav bar */

.nav {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}

nav h1 {
    margin: 0 auto;
    font-size: 150%;
    background: white;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    animation: hueshift 5s linear infinite;;
    text-shadow: 1px 1px 8px #ff0000;
    transition: transform .2s ease;
}

nav h1:hover {
    transform: scale(1.2);
}

/* info */

.info {
    display: flex;
    justify-content: center;
    margin: auto;
    background: rgba(36, 36, 36, 0.5);
    border-radius: 10vh;
    min-height: 40vh;
    width: 60vh;
    box-shadow: 0px 2px 20px;
    backdrop-filter: blur(2rem);
}

.info h1  {
    height: fit-content
}

/* animations */

.scaleUp {
    -webkit-animation-name: scaleUp;
    animation-name: scaleUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
@keyframes scaleUp {
    0% {
      transform: scale(0);
      /* -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0); */
    }
    100% {
        transform: scale(1);
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes scale {
    0% {
        transform: scale(1.0);
    }

    100% {
        transform: scale(1.5);
    }
}

@keyframes hueshift {
    0% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(360deg);
    }

    100% {
        filter: hue-rotate(0deg);
    }
}
