* {
    font-family: bold;
}

body {
    background-color: rgb(75, 75, 75);
    height: 90vh;
}

@font-face {
    font-family: normal;
    src: url(font/normal.ttf);

    font-family: bold;
    src: url(font/bold.ttf);
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    min-height: 100%;
    padding: 20px;
}

/* nav bar */

.nav {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}

nav h1 {
    margin: 0 auto;
    font-size: 150%;
    background: white;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    animation: hueshift 5s linear infinite;
    text-shadow: 0px 0px 15px #ff0000;
    transition: transform .2s ease;
}

nav h1:hover {
    transform: scale(1.2);
}

/* info */

.info {
    margin: auto;
    padding-top: 10px;
    background: rgba(36, 36, 36, 0.5);
    border-radius: 10vh;
    min-height: 40vh;
    width: 60vh;
    box-shadow: 0px 5px 50px;
    backdrop-filter: blur(2rem);
}

.h1 {
    text-shadow: 1px 1px 25px #ffffff;
    width: 300px;
    margin: auto;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 120%;
}

.portfolio-container {
    padding-top: 10vh;
    display: flex;
}

.portfolio {
    display: flex;
    margin: auto;
    justify-content: center;
    height: 9rem;
    width: 9rem;
    border-radius: 50rem;
    z-index: 2;
    background-color: rgb(45, 45, 45);
    backdrop-filter: blur(5rem);
}

.img {
    transition:  transform .2s ease;
    filter: drop-shadow(0px 0px 4px #ffffff);
}

.img:hover {
    filter: drop-shadow(0px 0px 20px #ffffff);
    transform: scale(1.5);
}

.discord {
    height: 50px;
}

.github {
    height: 55px;
}

/* animations */

.scaleUp {
    -webkit-animation-name: scaleUp;
    animation-name: scaleUp;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
@keyframes scaleUp {
    0% {
      transform: scale(0);
    }

    25% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes hueshift {
    0% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(360deg);
    }

    100% {
        filter: hue-rotate(0deg);
    }
}